<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../common/echarts/echarts-4.4.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/linkage/main.css">
    <!-- 全国344个市、区、州对应的数字编号 -->
    <script type="text/javascript" src="../../js/linkage/v1/citymap.js"></script>
</head>
<body>
<div id="main" style="width: 100%;height:800px;"></div>
<script type="text/javascript" src="../../common/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/linkage/v1/msgData.js"></script>
<script type="text/javascript" src="../../js/linkage/v1/app.js"></script>
</body>
</body>
</html>