<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>地图下钻</title>
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #333;
      }
    </style>
  </head>

  <body>
    <div id="linkage_map" style="height: 600px;width: 800px"></div>
    <div id="linkage_bar" style="height: 600px;width: 800px"></div>
    <script type="text/javascript" src="../../common/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../js/linkage/v2/cityMap.js"></script>
    <script src="../../common/echarts/echarts-4.4.0.js"></script>
    <script src="../../js/linkage/v2/app.js"></script>
  </body>
</html>
